
.partners {

}

.partners_title {
    text-align: center;
    margin: 68px auto 14px auto;
    width: 270px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.partners_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.partners_card {
    width: 217px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: flex-start;
    margin: 0px auto 27px auto;
}

.partners_card:nth-child(4) {
    margin-bottom: 0px;
}

.partners_card_img {
    margin-bottom: 20px;
    border-radius: 50%;
    position: relative;
}

.partners_icon_wrapper {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    position: absolute;
    transform: translate(125%, 250%);
}

.red_icon {
    background-color: #FF4E50;
}

.yellow_icon {
    background-color: #FFA507;
}

.green_icon {
    background-color :#1CD7AD;
}

.blue_icon {
    background-color: #4E73DB;
}

.partners_icon {

}

.partners_name {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}

.partners_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #666666;
}

.partners_buttom {
    margin: 27px auto 54px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FF4E50;
    background: none;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    padding: 13px 51px 13px 51px;
    outline: none;
}

.partners_buttom:hover {
    color: #fff;
    background-color: #FF4E50;
    /* transition: color 0.3s ease-out;
    background-color: 0.3s ease-out;
    border-color: 0.3s ease-out; */
}

/* !!! TABLET !!! */

@media (min-width: 768px) {
    
    .partners_title {
        text-align: center;
        margin: 72px auto 30px auto;
        width: auto;
    }

    .partners_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 470px;
    }
    
    .partners_card {
        margin-bottom: 57px;
    }

    .partners_card:nth-child(3) {
        order: -1;
    }

    .partners_card:nth-child(1) {
        order: -2;
    }

    .partners_card:nth-child(even) {
        margin-bottom: 0px;
    }

    .partners_buttom {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 15px 28px;
    }
}

/* !!! LAPTOP/COMPUTER !!! */

@media (min-width: 1024px) {

    .partners_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 920px;
    }
    
    .partners_card {
        margin-bottom: 0px;
    }

    .partners_buttom {
        margin-bottom: 70px;
    }
}