.header {
    width: 1200px;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0 auto;
    transform: translateX( -50%);
    padding-top: 20px; 
    justify-content: space-between;
    background-color: #fff; 
    z-index: 20;
} 

.header_wrapper {
    margin: 5px;
}

.logo_link {
    position: absolute;
    color: #95E1D3;
    text-transform: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu {
    width: 490px;
    position: relative;
    left: 120%;
}

.menu_list {
    display: flex;
    justify-content: space-between;
}

.menu_item {
    position: relative;
    text-transform: uppercase;
    color: #95E1D3;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.menu_item:hover:after {
    display: block;
}

.submenu_item:hover:after,
.submenu_item:focus:after {
    width: 100%;
    display: block;
	position: absolute;
	left: 0;
	height: 2px;
	background-color: #F38181;
	content: "";
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    
}

.submenu_item {
    display: inline-block;
    padding: -15px 30px;
    text-transform: uppercase;
    color: #F38181;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.menu_list_item:hover > .submenu {
    display: block;
 
}