.main {
    padding-top: 150px;
    width: 1200px;
    margin: 0 auto;
}

.main_servises {
    text-align: center;
}

.services_subtitle {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    text-transform: none;
    color: #333333;
}

.services_title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    margin: 22px auto 0 auto;

}

.services_title::after {
    content: '';
    display: block;
    width: 61px;
    height: 4px;
    background-color: #F38181;
    margin: 41px auto 0 auto;
}


/* Card */


.card {
    padding-top: 66px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.card_container {
    display: flex;
    width: 370px;
    margin-bottom: 100px;
    margin-right: 29px;
    flex-direction: column;
}

.servise_card_01, .servise_card_02, .servise_card_03, .servise_card_04, .servise_card_05, .servise_card_06 {
    width: 275px;
    display: flex;
    align-items: flex-start;
    height: 69px;
    margin-bottom: 100px;
}

.servise_card_01::before {
    content: '';
    display: block;
    width: 33px;
    height: 32px;
    padding-left: 60px;
    background: url('../images/ALARM.png');
    background-repeat: no-repeat;
}

.servise_card_02::before {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    padding-left: 60px;
    background: url('../images/LINE.png');
    background-repeat: no-repeat;

}

.servise_card_03::before {
    content: '';
    display: block;
    width: 33px;
    height: 31px;
    padding-left: 60px;
    background: url('../images/COMPUTER.png');
    background-repeat: no-repeat;
}

.servise_card_04::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    padding-left: 60px;
    background: url('../images/BOOK.png');
    background-repeat: no-repeat;
}

.servise_card_05::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    padding-left: 60px;
    background: url('../images/HOME.png');
    background-repeat: no-repeat;
}

.servise_card_06::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    padding-left: 60px;
    background: url('../images/IMAGE.png');
    background-repeat: no-repeat;
}

.card_title {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.card_text {
    width: 280px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;

}


